* {
  box-sizing: border-box; }

img {
  vertical-align: middle;
  max-width: 100%; }

html {
  min-height: 100%; }

body {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  line-height: 1.7;
  margin: 0;
  min-height: 100vh;
  background: url("../img/bg1.jpg") top center no-repeat #FFFFFF;
  background-size: 100%; }

h1 {
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 35px;
  font-weight: bold;
  text-align: center; }

.page-container {
  min-height: 100vh;
  padding: 0 0 140px 0; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.row {
  margin: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row > .col {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
    padding: 15px; }

header {
  padding: 80px 0 60px 0; }

nav {
  position: relative;
  background: url("../img/menu_bg.png") repeat-y center #000000;
  max-width: 567px;
  margin: 0 auto;
  font-size: 14px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  height: 50px; }
  nav .toggle {
    padding: 0 15px; }
    nav .toggle > ul {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0; }
      nav .toggle > ul > li {
        float: left; }
        nav .toggle > ul > li > a {
          display: block;
          line-height: 50px;
          padding: 0 15px;
          color: #FFFFFF;
          text-decoration: none;
          text-transform: uppercase; }
          nav .toggle > ul > li > a:hover {
            text-decoration: underline; }
      nav .toggle > ul + ul {
        float: right; }
  nav > .logo {
    display: block;
    position: absolute;
    left: 50%;
    margin: -52px 0 0 -95px !important; }
  nav > .brand {
    display: none;
    position: absolute;
    left: 20px;
    line-height: 47px;
    font-size: 24px;
    color: #DDDDDD;
    text-decoration: none;
    font-weight: bold; }
  nav > button {
    display: none;
    position: absolute;
    right: 20px;
    top: 8px;
    background: #000000;
    border: 1px solid #555;
    border-radius: 4px; }
    nav > button i {
      background: #999;
      display: block;
      width: 25px;
      height: 2px;
      margin: 6px; }

.lang {
  position: absolute;
  right: 0;
  top: -50px; }
  .lang > a {
    text-transform: uppercase; }

section {
  text-align: center; }
  section h1, section h2 {
    text-transform: uppercase;
    margin: 0 0 40px 0;
    font-size: 35px;
    font-weight: bold;
    text-align: center; }
  section.invert {
    background-color: #000000;
    color: rgba(220, 253, 255, 0.8);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8); }
    section.invert h1, section.invert h2 {
      color: #FFFFFF; }
  section.b1 {
    padding: 15px 0 60px 0; }
  section.b2 .container, section.b3 .container, section.b4 .container, section.b5 .container {
    padding: 60px 15px 70px 15px; }
  section.b2 {
    background: url("../img/bg2.jpg") top center no-repeat #000000;
    background-size: contain;
    text-align: left; }
    section.b2 .col {
      width: 40%; }
      section.b2 .col + .col {
        width: 60%; }
    @media (max-width: 767px) {
      section.b2 .col {
        width: 100%; }
        section.b2 .col + .col {
          display: none; } }
    @media (max-width: 1023px) {
      section.b2 {
        text-align: center; }
        section.b2 .col {
          width: 100%; }
          section.b2 .col + .col {
            width: 100%; } }
    @media (min-width: 1024px) and (max-width: 1365px) {
      section.b2 .col {
        width: 50%; }
        section.b2 .col + .col {
          width: 50%; }
      section.b2 .screen {
        width: 486px;
        margin-left: 0; }
        section.b2 .screen .imac {
          left: 20px; }
        section.b2 .screen .ipad {
          left: 0; }
        section.b2 .screen .iphone {
          display: none; } }
  section.b4 {
    background-image: url("../img/bg3.jpg");
    background-size: cover; }
  section.b5 {
    background-color: #313946;
    margin-bottom: -40px; }
    section.b5 .row {
      margin: -8px; }
      section.b5 .row hr {
        border-top: 5px solid #232834; }
        section.b5 .row hr:before {
          width: 123px;
          margin-left: -65px;
          border-top: 5px solid #232834; }
    section.b5 .col {
      width: 20%;
      padding: 8px; }
      @media (min-width: 568px) and (max-width: 767px) {
        section.b5 .col {
          width: 33.3%; }
          section.b5 .col + .col + .col + .col {
            margin-left: 16.65%; }
          section.b5 .col + .col + .col + .col + .col {
            margin-left: 0; } }
      @media (max-width: 567px) {
        section.b5 .col {
          width: 50%; }
          section.b5 .col + .col + .col + .col + .col {
            margin-left: 25%; }
          section.b5 .col + .col + .col + .col + .col + .col {
            margin-left: 0; } }
    section.b5 img {
      width: 100%; }
    section.b5 .name {
      white-space: nowrap;
      font-weight: bold;
      margin-top: 15px;
      color: #ffffff; }

hr {
  border: none;
  border-top: 5px solid #15C5D0;
  position: relative;
  margin: 0; }
  hr:before {
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -82px;
    height: 0;
    width: 156px;
    border-top: 5px solid #15C5D0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; }

footer {
  line-height: 100px;
  margin-top: -100px;
  text-align: center;
  background-color: #0E0E18;
  color: #666666; }
  footer a {
    color: #666666;
    text-decoration: none; }

.screen {
  width: 631px;
  height: 300px;
  position: relative;
  margin: 0 auto; }
  .screen div {
    background: #FFFFFF;
    border-radius: 6px;
    position: absolute; }
  .screen .iphone {
    padding: 4px 14px;
    bottom: 0; }
  .screen .ipad {
    padding: 14px 4px;
    bottom: 0;
    left: 90px; }
  .screen .imac {
    padding: 14px;
    bottom: 25px;
    left: 165px; }

.images .image {
  display: inline-block;
  margin: 5px; }

@media (min-width: 568px) {
  nav .toggle {
    display: block !important; } }
@media (max-width: 767px) {
  h1 {
    font-size: 30px; }

  body {
    font-size: 18px; }

  section h1, section h2 {
    margin: 0 0 25px 0;
    font-size: 30px; }
  section.b1 {
    padding: 15px 0 45px 0; }
  section.b2 .container, section.b3 .container, section.b4 .container, section.b5 .container {
    padding: 45px 15px 55px 15px; } }
@media (max-width: 567px) {
  h1 {
    font-size: 25px; }

  body {
    font-size: 16px; }

  header {
    padding: 0; }

  section h1, section h2 {
    margin: 0 0 25px 0;
    font-size: 25px; }
  section.b1 {
    padding: 15px 0 35px 0; }
  section.b2 .container, section.b3 .container, section.b4 .container, section.b5 .container {
    padding: 35px 15px 45px 15px; }

  nav {
    margin: 0 auto;
    height: 50px; }
    nav .toggle {
      box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
      display: none;
      border-top: 4px solid #000000;
      padding-bottom: 10px;
      background: #0E0E18;
      position: absolute;
      left: 0;
      right: 0;
      top: 50px; }
      nav .toggle > ul {
        float: none; }
        nav .toggle > ul > li {
          float: none; }
        nav .toggle > ul + ul {
          float: none; }
    nav > button {
      display: block; }
    nav > .brand {
      display: block; }
    nav > .logo {
      display: none; }

  .lang {
    top: 0;
    right: 90px; }
    .lang > a {
      color: #FFFFFF;
      line-height: 50px; } }
.dropdown > a {
  cursor: pointer; }
  .dropdown > a::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent; }
  .dropdown > a:empty::after {
    margin-left: 0; }
.dropdown > div {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  color: #7d7b7b;
  text-align: left;
  list-style: none;
  background-color: #000000;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175); }
  .dropdown > div > a {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    color: #7d7b7b;
    text-decoration: none; }
    .dropdown > div > a:hover {
      background-color: #222; }
    .dropdown > div > a.active {
      color: #ffffff; }

/*# sourceMappingURL=site.css.map */
